*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a{
  text-decoration:none ;
}
:root{
  --dark1: #131313;
  --dark2: #424242;
  --dark3: #727272;
  --dark4: #A1A1A1;
  --dark5: #D0D0D0;
  --dark7: #F3F3F3;
  --White-color: #FFFFFF;
  --orange: #FF900E;
  --orange-light: #ff900e1a;
  
}
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Shared style */
.flex{
  display: flex;
}
.btn{
  padding: 15px 25px;
  border: none;
  font-size: 1.25rem;
  color: var(--White-color);
  background-color: var(--orange);
  border-radius: 8px;
  font-weight: 600;
  max-width: 180px;
}
.mw{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 20px;
}
.description{
  font-size: 1rem;
  color: var(--dark3);
}
.title{
  font-size: 2.9rem; 
  color: var(--dark1);
}

/* header style */
header{
  background-color: var(--orange-light);
  
}
.navbar{
  padding: 15px 0px;
  justify-content: space-between;
  align-items: center;
}
.navItem{
  margin-left: 40px;
}
.navLink{
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--text-dark2);
}
.navbar .brand{
  font-weight: 700;
  font-size: 2.9rem;
}
.banner-info-container{
  max-width: 860px;
  margin: 40px auto;
  text-align: center;
}
.banner-title{
  font-size: 4rem;
}
.banner-info-container .description{
  margin: 15px 0px;
}
.banner-img{
  width: 100%;
  margin-bottom: 30px;
}

/* Responsive */
@media screen and (max-width:576px){
  .navbar, .teams {
    flex-direction: column;
    gap: 10px;
  }
  .banner-info-container{
    width: 100%;
  }
  .banner-title{
    font-size: 35px;
  }
  .teams {
    flex-direction: column;
  }
  .teams .team-img-container, .our-sponsor .sponsor-comp{
    grid-template-columns: 1fr;
}
.our-featuers{
  width: 100%;
  text-align: center;
  align-items: center;
}
.some-facts .facts-container{
  grid-template-columns: 1fr;
  gap: 20px;
}
.some-facts{
  text-align: center;
}
.our-sponsor .sponsor-comp{
   gap: 35px;

}
.features-img{
  order: 1;
}
.features-img img{
  width: 100%;
}
.features{
  order: 2;
}
.features-will-enjoy{
  flex-direction: column;
  gap: 0px;
}
.features-img .btn{
  margin:0 auto;
}
}

/* medium device */
@media screen and (min-width:576px) and (max-width:992px){
   .navbar .brand{
    font-size: 35px;
  }
  .teams{
    flex-direction: column;
  }
  .our-featuers{
  width: 100%;
  text-align: center;
  align-items: center;
}
.some-facts .facts-container, .our-sponsor .sponsor-comp{
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.features-img{
  order: 1;
}
.features-img img{
  width: 100%;
}
.features{
  order: 2;
}
.features-will-enjoy{
  flex-direction: column;
  gap: 0px;
}
.features-img .btn{
  margin:0 auto;
}

}

.teams{
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 50px;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.our-featuers{
  max-width: 535px;
  flex-direction: column;
  gap: 20px;
}
.features-title{
  color: var(--dark3);
  font-size: 2.9rem; 
  font-weight: 350;
}
.features-title :nth-child(1){
  color: var(--dark1);
  font-weight: 600;
}
.features-title :nth-of-type(2){
  color: var(--orange);
  font-weight: 600;
}


.features-will-enjoy{
  margin-top: 80px;
  gap: 120px;
  align-items: center;
}

.features .title{
  padding-left: 8px;
  max-width: 500px;
  border-left: 5px solid var(--orange);
  margin-bottom: 30px;
}
.features .description{
  max-width: 530px;
}

.info-card{
  padding: 30px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  margin: 25px 0px;
  border-radius: 8px;
}

.card-title{
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.features-img .time{
  font-size: 3.75rem;
}
.features-img .btn{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  padding: 40px;
  left:-100px ;
  top: -120px;
  position: relative;
}

.some-facts{
  margin-top: 80px;
}
.some-facts .description{
  max-width: 550px;
  margin: 20px 0px;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 70px auto;
  justify-items: center;
}
.fact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
  border: 1px solid var(--orange);
  border-radius: 5px;
  width: 250px;
  height: 250px;
}
.fact .fact-number{
  font-size: 2.9rem;
  font-weight: 400;
}
.fact .fact-name{
  font-size: 1.25rem;
  color: var(--dark3);
}
.sponsor-info{
  margin: 140px 0 auto;
  text-align: center;
}
.sponsor-info .title{
  margin-bottom: 20px;
}
.sponsor-comp{
  margin: 80px 0px 100px 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.sponsor-comp img{
  filter: grayscale(1);
}
.copyright{
  text-align: center;
  background-color: var(--orange-light);
  color: var(--dark3);
  padding: 20px 0px;
  border-radius: 8px;
  margin-bottom: 100px;
}
