*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a{
  text-decoration:none ;
}
:root{
  --dark1: #131313;
  --dark2: #424242;
  --dark3: #727272;
  --dark4: #A1A1A1;
  --dark5: #D0D0D0;
  --dark7: #F3F3F3;
  --White-color: #FFFFFF;
  --orange: #FF900E;
  --orange-light: #ff900e1a;
  
}
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Shared style */
.flex{
  display: flex;
}
.btn{
  padding: 15px 25px;
  border: none;
  font-size: 1.25rem;
  color: var(--White-color);
  background-color: var(--orange);
  border-radius: 8px;
  font-weight: 600;
  max-width: 180px;
}
.mw{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 20px;
}

/* header style */
header{
  background-color: var(--orange-light);
  
}
.navbar{
  padding: 15px 0px;
  justify-content: space-between;
  align-items: center;
}
.navItem{
  margin-left: 40px;
}
.navLink{
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--text-dark2);
}
.navbar .brand{
  font-weight: 700;
  font-size: 2.9rem;
}
.banner-info-container{
  max-width: 860px;
  margin: 40px auto;
  text-align: center;
}
.banner-title{
  font-size: 4rem;
}
.banner-description{
  font-size: 1rem;
  color: var(--dark3);
  margin: 15px 0px;
}
.banner-img{
  width: 100%;
  margin-bottom: 30px;
}

/* Responsive */
@media screen and (max-width:576px){
  .navbar, .teams {
    flex-direction: column;
    gap: 10px;
  }
  .banner-info-container{
    width: 100%;
  }
  .banner-title{
    font-size: 35px;
  }
  .teams {
    flex-direction: column;
  }
  .teams .team-img-container{
    grid-template-columns: repeat(1,1fr);
}
.our-featuers{
  width: 100%;
  text-align: center;
  align-items: center;
}

  
}

.teams{
  align-items: center;
  margin-top: 80px;
  gap: 50px;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.our-featuers{
  max-width: 535px;
  flex-direction: column;
  gap: 20px;
}
.features-title{
  color: var(--dark3);
  font-size: 2.9rem; 
  font-weight: 350;
}
.features-title :nth-child(1){
  color: var(--dark1);
  font-weight: 600;
}
.features-title :nth-of-type(2){
  color: var(--orange);
  font-weight: 600;
}
.features-description{
  font-size: 1rem;
  color: var(--dark3);
}